.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.main-content h1 {
  margin-bottom: 16px;
  font-size: 2.5rem;
}

/* .main-content p {
  font-size: 1.2rem;
  max-width: 600px;
} */

.main-content-position{
  margin-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}


.carousel{
  width: 100%;
  height: 20rem;
  flex-shrink: 1;
  min-height: 0;
}

@media screen and (max-width:520px) {
  .carousel{
    display: none;
  }
}

.news{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.title{
  width: 100%;
}

.news-cards-section{
  display: grid;
  grid-template-areas: 
  'card1 card1 card1'
  'card2 card3 card4';
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  max-width: 60rem;
}

.card1{
  grid-area: card1;
}

.card2{
  grid-area: card2;
}

.card3{
  grid-area: card3;
}

.car4{
  grid-area: card4;
}