.gazelle-img{
    height: 300px;
    max-width: fit-content;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.contact-tools{
    margin: 0 auto;
}

.tools-list{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

@media screen and (max-width:768px) {
    .tools-list{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:425px) {
    .wrapper{
        flex-direction: column;
    }
    
}