.sctn{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.faqs-title{
  margin-top: 2rem;
}

.q-art{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.benefits-list{
    list-style: disc;
}

.art-list{
  flex-direction: column;
  font-size: 1.5em;
}

.link-faqs {
    color: black;
}

.link-faqs:hover{
    color: blue;
}

.q.title{
  font-size: 2em;
}

.q-res{
  font-size: 1.5em;
  margin-left: 0;
}

@media screen and (max-width: 768px) {
    .q-art{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    .q-res{
      font-size: 1.2em;
    }
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

@media (max-width: 600px) {
  .responsive-table thead {
    display: none;
  }


  .responsive-table tr {
    display: block;
    margin-bottom: 1rem;
    padding: 10px;
  }

  .responsive-table td {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
  }

  .responsive-table td::before {
    content: attr(data-label);
    font-weight: bold;
    flex-basis: 40%;
  }
}