
.news-item-view {
  max-width: 900px; 
  width: 100%;
  background-color: #ffffff;
  padding: 2.5rem; 
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: left;
  margin-bottom: 50px;
}


.news-item-view h1 {
  font-size: 2.25rem;
  margin-bottom: 1.5rem; 
  line-height: 1.3;
  text-align: center;
}

.news-image-view {
  display: block;   
  margin-left: auto;  
  margin-right: auto;   
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-bottom: 2rem; 
  border-radius: 8px; 
}
.news-content-view {
  font-size: 1.1rem;
  line-height: 1.7; 
  white-space: pre-line; 
}

.newsbtn-edit {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
