:root{
    --color-primary: #c9af59; /* Color de fondo principal */
    --color-secondary: #1d1f14; /* Color del texto del logo */
    --color-white: #ffffff;
    --navbar-height: 100px;
    --padding-site: 10%;
}

.site-header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 0;
    flex-shrink: 1;
    overflow: auto;
    height: 100px;
    z-index: 100;
    overflow: visible;
    align-items: baseline;    
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #c9af59;
}

.navbar{
    position: relative;
    width: 100%;
    height: var(--navbar-height);
    background-color: #c9af59;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 101;
}

.navbar__logo-section{
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    position: relative;
    z-index: 102;
    background-color: #c9af59;
    padding-left: 50px;
}


.navbar__escudo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-right: 20px;
}


.navbar__escudo  img:hover{
    transform: scale(1.2);
    
}

.navbar__site-title {
    color: var(--color-secondary);
    font-size: 1.60em;
    font-weight: bold;
    text-decoration: none;
}


.navbar__menu,
.navbar__auth-menu {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar__menu li,
.navbar__auth-menu li {
    margin-left: 40px;
}


.navbar__menu a,
.navbar__auth-menu .button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    font-size: 18px;
    cursor: pointer;
    position: relative;
    padding: 0 5px; 
    line-height: var(--navbar-height);
    display: flex;
    align-items: center;
}


.navbar__menu a::before,
.navbar__auth-menu a::before,
.navbar__auth-menu button ::before {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--color-white);
    transition: .3s;
}

.navbar__menu a:hover::before{
    width: 100%;
}

@media screen and (max-width:1024px) {
    .navbar__menu a,
    .navbar__auth-menu .button,
    .navbar__auth-menu a {
        font-size: 15px;
    }
    .navbar__menu li,
    .navbar__auth-menu li {
        margin-left: 20px;
    }
    .navbar__site-title {
        font-size: 1.50rem;
    }
}

@media screen and (max-width:768px) {
    .site-header{
        width: 100%;
        justify-content: space-around;
    }
    .navbar__logo-section{
        padding-left: 0;
    }
    .spikes{
        display: none;
    }
    .spikes-shadow{
        display: none;
    }
    .navbar{
        display: none;
    }
    .navbar__escudo{
        margin-right: 0;
    }
    .menu-btn{
        padding-right: 2rem;
    }
}


@media screen and (max-width:425px) {
    .site-header{
        width: 100%;
        justify-content: space-between;
    }
    .navbar__logo-section{
        padding-left: 0;
    }
    .navbar__escudo{
        height: 80px;
        width: 80px;
    }
    .navbar__site-title {
        font-size: 1.25rem;
    }
}


.spikes {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    height: 20px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none"><polygon fill="%23c9af59" points="0,0 10,20 20,0"/><polygon fill="%23c9af59" points="20,0 30,20 40,0"/><polygon fill="%23c9af59" points="40,0 50,20 60,0"/><polygon fill="transparent" points="50,0 60,20 70,0"/><polygon fill="%23c9af59" points="60,0 70,20 80,0"/><polygon fill="transparent" points="70,0 80,20 90,0"/><polygon fill="%23c9af59" points="80,0 90,20 100,0"/></svg>') repeat-x;
    background-size: 500px 20px;
    z-index: 99;
}

.spikes-shadow {
    position: fixed;
    top: calc(var(--navbar-height));
    left: 0;
    width: 100%;
    height: 20px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none"><polygon fill="rgba(0,0,0,0.3)" points="0,0 10,20 20,0"/><polygon fill="rgba(0,0,0,0.3)" points="20,0 30,20 40,0"/><polygon fill="rgba(0,0,0,0.3)" points="40,0 50,20 60,0"/><polygon fill="transparent" points="50,0 60,20 70,0"/><polygon fill="rgba(0,0,0,0.3)" points="60,0 70,20 80,0"/><polygon fill="transparent" points="70,0 80,20 90,0"/><polygon fill="rgba(0,0,0,0.3)" points="80,0 90,20 100,0"/></svg>') repeat-x;
    background-size: 500px 20px;
    z-index: 98;
    filter: blur(4px);
    pointer-events: none;
}

